* {
    box-sizing: initial;
}
body {
	margin: 0;
    padding: 0;
    min-width: initial;
	font-weight: initial;
}

.markdown-body{
    /*position: absolute;*/
	/*
    width: 100%;
    height: 100%;
	padding: 10px;
	*/
    /*border: 1px solid red;*/
}
body [layout-raw] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
}
body [layout-column] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
body [flex] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.markdown-body hr { height: 1px; }
.markdown-body .highlight pre, .markdown-body pre {
    /*background-color: #232323;*/
    background-color: #002b36;
    border-radius: 5px;
}
.markdown-body pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #002b36;
    /*color: #cac5c0;*/
	text-shadow: none;
}
code{
	text-shadow: none;
	color: black;
}
.markdown-body code, .markdown-body tt{
	padding: 3px 5px;
    background-color: rgba(96,125,139,0.15);
    margin: 5px;
}

.markdown-body .hljs-comment, .markdown-body .hljs-quote {
    color: rgba(189, 189, 189, 0.4);
    font-style: oblique;
}
/* 웹 지원 API 주석 표시 */
.markdown-body web:before{
    content: 'web';
    color: #f8f8f8;
    font-weight: normal;
    font-size: small;
    background-color: #18c3de;
    border-radius: 2px;
    padding: 0px 5px;
    margin: 0 5px;
}
/* 웹 지원되지 않는 API 표시 */
.markdown-body notweb:before{
    content: 'not web';
    color: #f8f8f8;
    font-weight: normal;
    font-size: small;
    background-color: #de1873;
    border-radius: 2px;
    padding: 0px 5px;
    margin: 0 5px;
}
.markdown-body partialweb:before{
    content: 'partial web';
    color: #f8f8f8;
    font-weight: normal;
    font-size: small;
    background-color: #18c3de;
    border-radius: 2px;
    padding: 0px 5px;
    margin: 0 5px;
}
.markdown-body box{
    border-radius: 5px;
    display: block;
    padding: 0.5em;
    background: #f6f8fa;
}

/*---------------------------------*/


#container, #container div, .wrapper{
	border: 1px solid red
}

#container, #container *{
	box-sizing: border-box;
}
#container {
    z-index: 100000;
    display: flex;
    flex-direction: column;
}

#container [top]{
    /*min-height: 50px;
    min-width: 50px;*/
}
#container [middle]{
    /*min-height: 50px;
    min-width: 50px;*/
    display: flex;
    flex-direction: row;
}

#container [left]{
    /*min-height: 50px;
    min-width: 50px;*/
}
#container [right]{
    /*min-height: 50px;
    min-width: 50px;*/
}

/*---------------------------------*/

#container, #container div, .wrapper{
	border: 1px solid red
}

header, #banner{
    position: relative; 
	width: auto;
	/*display: none;
	min-width: 800px;*/
}
header{
    padding: 10px;
	min-height: initial;
}
#banner{
    left: initial; right: initial;
	margin-right: initial;
	padding-right: initial;
    top: 0;
    padding-left: 20px;
}
#banner .fork {
    position: relative;
    left: 0;
    margin-left: 0px;
}
section{
    margin: 20px;
    width: auto;
}
/*
.wrapper{
    min-width: 800px;
	width: 100%;
}
*/

@media print, screen and (max-width: 480px),
@media print, screen and (max-width: 720px),
@media print, screen and (max-width: 1060px){
	section {
		/*max-width: 100%!important;*/
	}
	#banner, nav{
		display: block;
	}
}

nav{
    /* position: fixed; */
    width: 240px;
	position: relative;
    top: 0;
    left: initial;
	margin: 20px 0 20px 20px;
    text-align: right;

}
nav ul{
    width: 240px;
	margin: 20px 0;
	padding: 0;
}
nav ul li.tag-h1{
    font-size: 1.3em;
}
.tag-h1 {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin: 25px 0 2px 0;
}
.tag-h3 {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 0px;
}

#commonMenu{
	/*padding-top: 20px;*/
	border-top: 1px solid rgba(0,0,0,0.2);
}
#commonMenu a{
	color: #666;
}